*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-1: #79cd39;
  --color-2: #0b514c;
  --angle: 0deg;
}

@font-face {
  font-family: 'orangina';
  src: local('orangina'), url('./fonts/orangina.otf') format('opentype');
  font-weight: bolder;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
}
.helper {
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
}
